:root {
    --skyblue: #92cccd;
    --darkslateblue: #445876;
    --darkslategray: #31343d;
}

/* Header/Footer Formatting */

header {
    height: 100px;
    width: 100%;
    margin-bottom: 10px;

    background-color: var(--darkslategray);
}

footer {
    height: 50px;
    width: 100%;
    margin-top: 10px;

    background-color: var(--darkslategray);
}

/* Flex Box Formatting */ 

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px 10%;
}

.navColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 100%;
    flex: 1;

    background: pink;
}

.contentColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
    margin-left: 3px;

    background: purple;
}

.contentColumnHalf {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    flex-basis: 100%;
    flex: 1;
    margin-left: 3px;

    background: green;
}

.sectionSplit {
    margin-top: 3px;
}

/* Top NavBar Flex Formatting */
.navFlexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 0px;

    list-style: none;
}

.headerNavColumn {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    flex-basis: 100%;
    flex: 1;
    margin-right: 5px;

    background: pink;
}

/* Heading Formatting */

h3 {
    color: var(--darkslateblue);
    font-size: 32px;
    font-weight: 800;

    padding-right: 10px;

    border-right: 3px solid var(--darkslateblue);
}

h1 {
    display: inline-block;
    background: var(--skyblue);
    margin-top: 25px;
    padding-left: 30px;

    color: var(--darkslateblue);
    line-height: 50px;
    font-size: 40px;
}

