:root {
    --skyblue: #92cccd;
    --darkslateblue: #445876;
    --darkslategray: #31343d;
}

/* Image Size Fix */

.largeIMG {
    max-width: 615px;
    max-height: 400px;
    margin-left: 3px;
}

.smallIMG {
    max-width: 300px;
}

/* Header/Footer Formatting */

header {
    height: 100px;
    width: 100%;
    margin-bottom: 10px;

    background-color: var(--darkslategray);
}

footer {
    height: 50px;
    width: 100%;
    margin-top: 10px;

    background-color: var(--darkslategray);
}

/* Flex Box Formatting */ 

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px 10%;
}

.navColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 100%;
    flex: 1;

    background: pink;
    border-right: 3px solid var(--darkslateblue);
    margin-right: 3px;
}

.contentColumnAM {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;


    background: purple;
}

.contentColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;


    border: 3px solid var(--skyblue);
}

.contentColumnHalf {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    flex-basis: 100%;
    flex: 1;

    margin: 3px 3px;
    border: 3px solid var(--skyblue);
}

.sectionSplit {
    margin-top: 3px;
}

/* Top NavBar Flex Formatting */
.navFlexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 0px;

    list-style: none;
}

.headerNavColumn {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    flex-basis: 100%;
    flex: 1;
    margin-right: 5px;

    background: pink;
}

/* Heading Formatting */

h1 {
    display: inline-block;
    background: var(--skyblue);
    margin-top: 25px;
    padding-left: 30px;

    color: var(--darkslateblue);
    line-height: 50px;
    font-size: 40px;
}

h3 {
    color: var(--darkslateblue);
    font-size: 32px;
    font-weight: 800;

    padding-right: 10px;

}

/* Text Overlay */

h4 {
    color: var(--darkslateblue);
    font-size: 18px; 
    font-weight: 600;
}

div.textOverlay p {
    color: var(--darkslateblue);
    font-size: 12px;
}

/* Work Text Overlay Formatting */

.textOverlay {
    display: inline-block;
    position: absolute;
    margin-top: 250px;

    padding: 5px 10px;
    background: var(--skyblue);
}

.textOverlaySmall {
    display: inline-block;
    position: absolute;
    margin-top: 100px;

    padding: 5px 10px;
    background: var(--skyblue);
}