:root {
    --skyblue: #92cccd;
    --darkslateblue: #445876;
    --darkslategray: #31343d;
}

/* Flex Box Formatting */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.row3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.row4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.doubleColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

/* Hyperlink Formatting */

a {
    color: var(--skyblue);
    text-decoration: none;
}                                  /* Unvisited link  */        
a:visited {color: var(--skyblue);} /* Visited link    */
a:hover {color: var(--skyblue);}   /* Mouse over link */
a:active {color: var(--skyblue);}  /* Selected link   */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;

    background-color: var(--darkslategray);
}

.navAncestor {
    list-style: none;
}

.navAncestor li {
    display: inline-block;
    padding: 0px 10px;
}

.nav {
    color: var(--skyblue);
    font-size: 22px;
    text-decoration: underline;
}

h1 {
    margin-right: auto;

    text-indent: 50px;
    font-size: 52px;
    color: var(--darkslateblue);
    background-color: var(--skyblue);
}

/* About me Section */

#aboutMe p {
    padding: 20px 40px;
    text-align: justify;
}

/* Work Section */

#work {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

#work ul li {
    border: 4px solid var(--skyblue);
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.liCol {
    max-width: 300px;
}

.largeTile {
    max-width: auto;
    max-height: 400px;
}

.smallTile {
    max-width: auto;
    max-height: 100px;
}

/* Side Nav */ 

aside h2 {

    border-right: 4px solid var(--darkslateblue);
    color: var(--darkslateblue);
    text-align: right;
    font-size: 58px;
    margin-top: 20px;
    
    padding-right: 10px;
}

/* Project Title Overlay */

.textOverlay {
    position: relative;
}

.overlay {
    position: absolute;

    padding: 5px 10px;
    width: 140px;
    

    color: var(--darkslateblue);
    background: var(--skyblue);
}

li h3 {
    font-weight: 800;
    font-size: 24px;
    bottom: 40px;
}

li p {
    font-size: 14px;
    bottom: 20px;
}